<style type="text/css">
	body {
		background-color: #575757;
	}
	p.small {font-size: 12pt}
	p.normal {
		font-family: Nyala;
		font-size: 18pt;
		color: #00b6b7;
	}
	h1 {
		font-family: Nyala;
		text-align: center;
		color: #00edf0;
	}
	a:link{
		color: #41d400;
	}
	a:visited{
		color: #ff9519;
	}
	a:hover{
		color: #4fff00;
	}
</style>